<% content_for :title, "Relationship Pipeline" %>

<div class="col-sm-8 clearfix">
  <h3>Your Relationship Pipeline <span class="text-muted smallest">Follow other users to start conversations and get updates on their activity.</span></h3>
  <div class="row">
    <div class="col-sm-6">
      <h3>You Follow</h3>
      <% if @following.any? %>
        <%= render partial: 'matches/match', collection: @following, as: 'match' %>
      <% else %>
      <div class="well">
        <h4>You're Relationship Pipeline is empty. Add more users to your pipeline and complete your profile to receive Relationship Recommendations.</h4>
        <p class="text-muted">
          Find users profiles through Bankmybiz Q&A Platform. Add users to your Relationship Pipeline by clicking "Add to Pipeline" on their profile. If you add someone to your Pipeline they can send you secure private messages.
        </p>
      </div>
      <% end %>
    </div>
    <div class="col-sm-6">
      <h3>Following You</h3>
      <% if @followers.any? %>
        <%= render partial: 'matches/match', collection: @followers, as: 'match' %>
      <% else %>
      <div class="well">
        <h4>You're Relationship Pipeline is empty. Add more users to your pipeline and complete your profile to receive Relationship Recommendations.</h4>
        <p class="text-muted">
          Find users profiles through Bankmybiz Q&A Platform. Add users to your Relationship Pipeline by clicking "Add to Pipeline" on their profile. If you add someone to your Pipeline they can send you secure private messages.
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/right_sidebar' %>