<li class="comment">
  <div class="pull-left small">
  </div>        
  <% if false %>
    <%= image_tag 'default_profile_pic.png', class:"comment-pic" %>
  <% end %>
  <div class="small margin-left"><%= comment.content %></div>
  <% if false %>
  <div class="muted smallest text-right"><%= time_ago_in_words(comment.created_at) %> ago by <%= link_to "#{comment.commentable.user.name}", user_path(post.user) %></div>
  <% end %>
</li>