
<section>
<%= form_for [post, post.comments.new] do |f| %>
  <div class="input-group">
    <%= f.text_field :content, class:'form-control', id:"appendedInputButton", placeholder:"Comment to start a conversation" %>
    <span class="input-group-btn">
      <button name="commit" type="submit" value="Create Comment" class="btn btn-warning">
        <i class="icon ion-chatbox"></i>
      </button>
    </span>
  </div><!-- /input-group -->
<% end %>
</section>
<br>