<div class="row">
  <div class="col-sm-11 col-sm-offset-1">
    <div class="small muted text-right"><%= commentable.comments.count %> <i class="icon ion-ios7-chatboxes-outline"></i> Comments - <span class="btn btn-default btn-xs comment-show">Leave a Comment</span></div>
    <div style="display:none;" class="comment-form">
    <%= form_for [commentable, commentable.comments.new] do |f| %>
      <div class="input-group">
        <%= f.text_field :content, class:'form-control', id:"appendedInputButton", placeholder:"Leave a Comment." %>
        <span class="input-group-btn">
          <button name="commit" type="submit" value="Create Comment" class="btn btn-warning">
            <i class="icon ion-help-buoy"></i> Comment
          </button>
        </span>
      </div><!-- /input-group -->
    <% end %>
    </div>

    <ul>
      <%= render partial: 'comments/comment', collection: commentable.comments.where('content is not null').order('created_at desc'), as: :comment, locals: { post: commentable } %>
    </ul>
  </div>
</div>