<h4 class="h4">We're Happy You Found Us,</h4>
<p>
  Thanks for signing up for BankmyBiz.com. We like to get to know our new folks before introducing you to our network of bankers and business owners. It only takes our team a few hours to prepare your profile and grant you access.
</p>
<p>
  In the meantime, if you have more questions or want to get in touch with us for any reason, you can reply to this email, <%= link_to "follow us", "https://twitter.com/bankmybiz" %> on Twitter, or <%= link_to "like us", "https://facebook.com/bankmybiz" %> on Facebook. If you want to learn more about how BankmyBiz.com works visit the <%= link_to 'How it Works', how_url %>. For more information on our team, visit our <%= link_to "About Us", about_url %></h2> page.
</p>