<h4 class="h4">Invitation from <%= @inviter.name.titleize %>, </h4>

<p>
  <%= @body %>
</p>

<p><%= link_to 'Accept invitation', accept_invitation_url(@user, :invitation_token => @user.invitation_token) %></p>

<p>
  BankMyBiz.com <b>saves you time</b> and <b>makes you money</b> by matching you into valuable <b>lending relationships</b>. After completing your private 5-minute profile, you receive one match a week. You can accelerate the speed of building lending relationships by posting to the News Feed, starting conversations on News Feed posts, and now Purchasing Matches.
</p>
