<h4 class="h4">Congratulations <%= @user.first_name.titleize %>, </h4>
<p>
  You have a new match on BankmyBiz.com! <%= link_to "Click here", user_url(@match) %> to review their profile.
</p>
<p>
  BankMyBiz.com creates one free new match per week. You can accelerate the speed of building lending relationships by posting to the Buzz, starting conversations by commenting on Buzz posts, and purchasing more matches.
</p>
<p>
  <strong>Tip</strong> - Post to the Buzz to increase visibility of your profile, demonstrate your brand, and teach the BankMyBiz.com Network about your interests and areas of expertise.
</p>
