<h4 class="h4">Hello <%= @user.first_name.titleize %>, </h4>
<p>
  You have a new follower on BankmyBiz.com:
</p>

<%= render partial: 'users/email_user', locals: { current_user: @user, other_user: @follower } %>

<p>
  <strong>Tip</strong> - Post interesting links, wins, and your industry expertise to the News Feed to improve your profile, create conversations, and earn bucks. 
</p>

