<h4 class="h4"><%= @user.first_name.titleize %>, </h4>

<p>
  <strong>Congradulations!</strong> - You have a new follower on Bankmybiz.com:
</p>

<%= render partial: 'users/email_user', locals: { current_user: @user, other_user: @follower } %>

<p>
  Your followers want to stay in contact with you. Followers receive an email every time you post a question or status update to the News Feed. You may now also now send them <strong>Private Messages</strong>.
</p>

<p>
  <strong>Tip</strong> - Post to the News Feed to get answers, create conversations, and earn cred. Try posting questions, interesting links, and conversation starters.
</p>

