<h4 class="h4"><%= @user.first_name.titleize %>, </h4>
<p>
  <strong><%= @commenter.first_name_with_last_initial %></strong> commented on your post,
</p>
<p>
  <%= @comment.content %>
</p>
<p>
  <%= link_to "Reply", post_url(@post) %>
</p>

