<h4 class="h4"><%= @user.first_name.titleize %>, </h4>
<p>
  <%= link_to @follower.first_name_with_last_initial, user_url(@follower) %> now follows your profile on BankmyBiz.com
</p>
<p>
  <br>
  <strong>Tip</strong> - You can get access to the profiles of who follows you, gives you bucks, or who has viewed you by subscribing to <%= link_to raw("BankmyBiz 360&deg;"), root_url %>.
</p>

