<h4 class="h4"><%= @user.first_name.titleize %>, </h4>
<p>
  You have a new match on BankmyBiz.com! <%= link_to "Click here", root_url %> to review their profiles.
</p>
<p>
  BankmyBiz.com creates 1 new match per week. You can accelerate the speed of building lending relationships by purchasing matches.
</p>
<p>
  <br>
  <strong>Tip</strong> - Post to the Newsfeed to increase visibility of your profile, demonstrate your brand, and teach the BankmyBiz.com Network about your interests and expertise.
</p>
