<h4 class="h4"><%= @user.first_name.titleize %>, </h4>
<p>
  We are excited that you chose Bankmybiz.com to help you create valuable banking relationships! 
</p>
<p>
  <strong>Complete your 3-minute profile</strong> to start getting matches tailored to you.Start by saying are you a <strong><%= link_to "Bank", set_bank_url(@user) %></strong> or a <strong><%= link_to "Biz", set_bank_url(@user) %></strong>. (click links to choose)
</p>
<p>
  <strong>Tip</strong> - Post to the News Feed to improve your profile, create conversations, and earn bucks. Try posting interesting links, wins, and your industry expertise.
</p>
