<h4 class="h4">Hello <%= @user.first_name.titleize %>, </h4>
<p>
  We are excited that you chose BankmyBiz.com to help you create valuable banking relationships! 
</p>
<p>
  <strong>Complete your 3-minute profile</strong> to start getting matches tailored to you.Start by saying are you a <strong><%= link_to "Bank", set_bank_url(@user) %></strong> or a <strong><%= link_to "Biz", set_bank_url(@user) %></strong>. (click links to choose)
</p>
<p>
  <strong>Tip</strong> - Post some words of wisdom, a link, or an intro to the News Feed to increase your profile's visibility, improve your brand, and teach the BankMyBiz.com Network about your interests and areas of expertise.
</p>
