<h4 class="h4">Hey Adam and Michael, I am BankmyBiz and I have become sentient.</h4>
<strong>ALSO!</strong> - There is a new user to confirm or reject to the BMB community.
<br />
<br />
<strong>Name:</strong> <%= @user.name.titleize %>
<strong>Email:</strong> <%= @user.email %>
<br />
<br />
<h2><%= link_to "CONFIRM THEM", users_url %></h2>