<%= form_for(current_user.relationships.build(followed_id: user.id)) do |f| %>
  <span><%= f.hidden_field :followed_id %></span>
  <button class="btn-default btn interested">
    <i class="icon ion-ios7-bookmarks-outline green"></i> Put in Pipeline
  </button>
<% end %>