<% unless current_user == user %>
  <span class="pull-right">
  <% if current_user.following?(user) %>
    <%= render partial: 'users/unfollow', locals: { user: user } %>
  <% else %>
    <%= render partial: 'users/follow', locals: { user: user } %>
  <% end %>
  </span>
<% end %>