<section class="match">
<%= link_to user_path(user) do %>
  <div><%= profile_picture(user) %></div>
  <div><strong><%= user.first_name_with_last_initial %></strong></div>
<% end %>
<div class="muted"><%= user.position %></div>
</section>