<section class="match">
<%= link_to user_path(user) do %>
  <%= profile_picture(user) %> <strong><%= user.first_name %></strong>
<% end %>
 <%= user.industries.map(&:description).join(", ") %>
</section>