<section class="match">
  <%= image_tag "assets/default_profile_pic.png", class:"pull-left", width:"40px" %>
    <strong><%= user.name %></strong>
    <p class="muted">
      Special Contractor
    </p>
</section>