<div class="well hidden-phone">
  <h5>Your BMB Profile</h5>
  <p>
    The BankMyBiz newtork uses matching algorithms to match you with <%= current_user.bank? ? "owners" : "lenders" %> that are suitable to you. The more complete your profile, the better the matches we can give you.
  </p>
</div>