<section class="match">
  <h4><%= pluralize(current_user.karma, "Buck", "Bucks") %> </h4>
  <div class="muted small up">Were Added to your Posts & Comments</div>
  <h4><%= pluralize(current_user.impressions_count, 'User', 'Users') %></h4>
  <div class="muted small up">Viewed your Profile</div>
  <h4><%= pluralize(current_user.followers.count, 'Follower', 'Followers') %></h4>
  <div class="muted small up">Following your Profile</div>
</section> 
  <div class="text-center"> 
    <%= link_to "Upgrade Profile", subscribe_path, class: "btn btn-success" %>
    <div>To Contact Them</div>
  </div>
<hr>