<div class="">
  <h3>0 Bucks</h3>
  <div>Were Added to your Posts</div>
  <h3><%= current_user.impressions_count %> Users</h3>
  <div>Viewed your Profile</div>
  <h3><%= pluralize(current_user.followers.count, 'Person', 'Users') %></h3>
  <div>Following your Profile</div>
  </br>  
  <div class="text-center"> 
    <%= link_to "Upgrade Account", subscribe_path, class: "btn btn-success btn-large" %>
    <div class="muted">To Learn More</div>
  </div>
</div>
<hr>