<div class="span3">  
  <section class="gray-border-left">
    <%= render 'shared/improve_profile' %>
  </section>
  <section class="gray-border-left">
    <%= render 'shared/profile_views' %>
  </section>
</div>