<a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.bankmybiz.com%2Fposts%2F<%= post.id %>&title=<%= post.title + " " + post.tags.map(&:name).join(", ") %>&source=Bankmybiz.com" rel="nofollow" onclick="NewWindow(this.href,'template_window','550','400','yes','center');return false" onfocus="this.blur()" target="_blank">
  <span class="btn btn-xs btn-rounded btn-linkedin"><i class="icon ion-social-linkedin"></i>
</a>