<a href="https://twitter.com/share?url=https%3A%2F%2Fwww.bankmybiz.com%2Fposts%2F<%= post.id %>&text=<%= post.content %>&hashtags=Interests Keywords: <%= post.tags.map(&:name).join(',')%>" target='_blank'>
  <span class="btn btn-xs btn-rounded btn-twitter"><i class="icon ion-social-twitter"></i> tweet
</a>