<% if user_signed_in? %>
  <div class="matches">
    The <strong>BankMyBiz Network</strong> matches you with <%= current_user.bank? ? "owners" : "lenders" %> that are suitable to you. The more complete your profile, the better the matches we can give you.
  </div>
<% end %>
<hr>
<div class="tag-cloud">
  <p class="muted">Trending Tags</p>
  <% Post.first(4).each do |p| %>
    <% p.tags.each do |t| %>
      <%= link_to "#{t.posts.count} x #{t.name}", post_path(p), class:"tag" %>
    <% end %>
  <% end %>
</div>