<% 
  content_for :title, "Find a Banker - Get a Loan - Bank Account | Bankmybiz" 
  content_for :description, "We are a banker and business social network for defining trust and relationships upon which to do business" 
  content_for :keywords, "Find a Banker, Get a Loan, Bank Account"
%>
<% if false %>
    <div class="col-sm-4 text-left">
        <div data-spy="affix" class='affixed-nav' data-offset-top="90">
            <ul class="nav nav-list">
                <li><a href="#one"> Matches</a></li>
                <li><a href="#two"> The News Feed</a></li>
                <li><a href="#three"> Your Profile</a></li>
                <li><a href="#four"> Messaging</a></li>
                <li><a href="#five"> Following</a></li>
                <!-- <li><a href="#five"><i class="icon-chevron-right"></i> Five</a></li>
                <li><a href="#six"><i class="icon-chevron-right"></i> Six</a></li>
                <li><a href="#seven"><i class="icon-chevron-right"></i> Seven</a></li> -->
            </ul>
        </div>
    </div>
    <% end %>
    <div class="col-sm-6 col-sm-offset-3">
        <fieldset id="one">
            <h3>Welcome</h3>
            <div class="fieldset-content">
              <p>
                Welcome to Bankmybiz.com. We're glad you found us. We're ready to <strong>save you time</strong> and <strong>make you money</strong>. Here's how.
              </p>
            </div>
        </fieldset>
        <fieldset id="one">
            <legend>Matches</legend>
            <div class="fieldset-content">
              <p>
                Bankmybiz is a <strong>Matching Platform</strong>, meaning we match Lenders and Owners. 
              </p>
              <p>
                <strong>Lenders</strong> are all types of people who work for banks or organizations that can help finance a business. <strong>Owners</strong> are users who either own businesses or "own" getting financing for a business.
              </p>
              <p>
                For matching, we don't require overburdensom financials to get started. We match you on industry, revenue size, employee size, business type, number of years a business has filed taxes, and location.
              </p>
            </div>
        </fieldset>
        
        <fieldset id="two">
            <legend>The News Feed</legend>
            <div class="fieldset-content">
                <p>
                    The News Feed is a <strong>stream of content</strong> about business, financing, banking, and any other interesting or helpful thing that the network creates.
                </p>
                <p>
                    If you represent a business, <strong>build credibility</strong> by posting content about your industry and about you. Get some good press? Leading your industry? Have the insider scoop? The News Feed is your soap box to show your operation's expertise and <strong>what differentiates you in your market</strong>.
                </p>
                <p>
                    If you represent a <strong>bank</strong>, use the News Feed to share what deals you are closing, what trends you are interested in, and about your bank's culture. The News Feed is a message in a bottle going out to businesses who are looking for the right bank and <strong>the right banker</strong>, not just the right loan. 
                </p>
            </div>
        </fieldset>
        
        <fieldset id="three">
            <legend>Your Profile</legend>
            <div class="fieldset-content">
                <p>
                  Your profile is what matches see when they are matched with you. Share information about yourself and organization and <strong>keep up on coversations</strong> with other lenders and owners you connect with. You can gain reputation for your expertise and experience with financing by creating great comments and News Feed posts. By being a point leader, others on the site will look to you as an expert in that area. Your expertise will be in high demand by other owners and will give confidence to lenders.
                </p>
            </div>
        </fieldset>

        <fieldset id="four">
            <legend>Contacting Users</legend>
            <div class="fieldset-content">
                <p>
                   Use Bankmybiz's private messages to take matches to the next level. You have unlimited number of messages you can send and save in your Bankmybiz.com Contacts.
                 </p>
                 <p>
                  Messaging in Bankmybiz.com is <strong>private</strong> and your email is never shared with anyone. Bankmybiz messages arrive in recipient's Bankmybiz Inbox and an email from Bankmybiz is sent to notify them to check it. 
                </p>
            </div>
        </fieldset>

        <fieldset id="five">
            <legend>Interested</legend>
            <div class="fieldset-content">
                <p>
                    Tell another user you are interested, that you think are smart, <strong>that they are leaders</strong>, and that <strong>you might want to work with</strong> them. When you tell people you're interested, you can keep track of those user's profiles easily so you can start and keep up conversations with them.
                </p>
            </div>
        </fieldset>
<!--
        <fieldset id="six">
            <legend>six</legend>
            <div class="fieldset-content">
                <p>
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                    architecto beatae vitae dicta sunt     explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                    consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eumfugiat quovoluptas nulla pariatur?"
                </p>
            </div>
        </fieldset>

        <fieldset id="seven">
            <legend>seven</legend>
            <div class="fieldset-content">
                <p>
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                    architecto beatae vitae dicta sunt     explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                    consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eumfugiat quovoluptas nulla pariatur?"
                </p>
            </div>
        </fieldset>         -->
    </div>