<div class="row-fluid">
    <div class="span4">
        <ul class="nav nav-list" data-spy="affix" data-offset-top="80">
            <li><a href="#one"> Getting Matches</a></li>
            <li><a href="#two"> The Newsfeed</a></li>
            <li><a href="#three"> Your Profile</a></li>
            <li><a href="#four"> Messaging</a></li>
            <li><a href="#five"> Following</a></li>
            <!-- <li><a href="#five"><i class="icon-chevron-right"></i> Five</a></li>
            <li><a href="#six"><i class="icon-chevron-right"></i> Six</a></li>
            <li><a href="#seven"><i class="icon-chevron-right"></i> Seven</a></li> -->
        </ul>

    </div>
    <div class="span6">
        <fieldset id="one">
            <legend>Getting Matches</legend>
            <div class="fieldset-content">
              <p>
                BankmyBiz is a <strong>Matching Platform</strong> meaning we match Lenders and Owners. 
              </p>
              <p>
                <strong>Lenders</strong> are all types of people who work for banks or organizations that can help finance a business. <strong>Owners</strong> are users who either own businesses or "own" getting financing for a business.
              </p>
              <p>
                For matching, we don't require overburdensom financials to get started. We match you on industry, revenue size, employee size, business type, number of years a business has filed taxes, and location.
              </p>
            </div>
        </fieldset>
        
        <fieldset id="two">
            <legend>The Newsfeed</legend>
            <div class="fieldset-content">
                <p>
                    The Newsfeed is a stream of content about business, financing, banking, and any other interesting or helpful thing that the network creates.
                </p>
                <p>
                    If you represent a business, build credibility by posting content about your industry and about you. Get some good press? Leading your industry? Have the insider scoop? The newsfeed is your soap box to show your operation's expertise and what differentiates you in your market.
                </p>
                <p>
                    If you represent a bank, use the Newsfeed to share what deals you are closing, what trends you are interested in, and about your bank's culture. The newsfeed is a message in a bottle going out to businesses who are looking for the right bank and the right banker, not just the right loan. 
                </p>
            </div>
        </fieldset>
        
        <fieldset id="three">
            <legend>Your Profile</legend>
            <div class="fieldset-content">
                <p>
                  Your profile is your landing page for your personal activity. Share information about yourself and organization and keep up on coversations with other lenders and owners you connect with. You can gain reputation for your expertise and experience with financing by creating great comments and newsfeed posts. By being a point leader, others on the site will look to you as an expert in that area. Your expertise will be in high demand by other owners and will give confidence to lenders.
                </p>
            </div>
        </fieldset>

        <fieldset id="four">
            <legend>Messaging</legend>
            <div class="fieldset-content">
                <p>
                    Depending on your subscription level, you can send a number of messages every day to bankers and business owners that you want to get to know better. For privacy, your email is never shared with anyone on BankmyBiz. BankmyBiz messages arrive in recipient's BankmyBiz Inbox and an email from BankmyBiz is sent to notify them to check it. 
                </p>
            </div>
        </fieldset>

        <fieldset id="five">
            <legend>Following</legend>
            <div class="fieldset-content">
                <p>
                    Follow other businesses or lenders that you think are smart, that are leaders, and that you might want to work with. When you follow people, you can keep track of followed user's profiles eaisly so you can start and keep up conversations with them.
                </p>
            </div>
        </fieldset>
<!--
        <fieldset id="six">
            <legend>six</legend>
            <div class="fieldset-content">
                <p>
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                    architecto beatae vitae dicta sunt     explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                    consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eumfugiat quovoluptas nulla pariatur?"
                </p>
            </div>
        </fieldset>

        <fieldset id="seven">
            <legend>seven</legend>
            <div class="fieldset-content">
                <p>
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                    architecto beatae vitae dicta sunt     explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                    consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eumfugiat quovoluptas nulla pariatur?"
                </p>
            </div>
        </fieldset>         -->
    </div>
</div>