
        <div class="row-fluid">
          <div class="jumbotron">
            <a href="/auth/linkedin" class="auth_provider btn btn-linkedin">          
                <i class="icon-linkedin"></i> Login with LinkedIn
            </a><br>
            <span class="small">or,  <%= link_to "signup w/ email", new_registration_path(resource_name) %></span>
          </div>
      <div class="row-fluid marketing">
        <div class="span5 offset1">
          <h2>For Businesses</h2>
          <h4>Free to Browse and Connect</h4>
          <p>Join to browse and connect with lenders targeted to lending to your industry and size, all for free.</p>

          <h4>A Large Two-sided Network</h4>
          <p>Interact with a newtork of lenders and business owners to learn, enhance your brand, and extend your business's reach.</p>

          <h4>Ready to Lend</h4>
          <p>Connect with lenders actively looking to lend.</p>
        </div>

        <div class="span5 offset1">
          <h2>For Bankers</h2>
          <h4>Free to Browse and Connect</h4>
          <p>Join to promote your products and services directly to businesses bankable to you for free.</p>

          <h4>Bankable Businesses</h4>
          <p>Find bankable businesses in less time than ever.</p>

          <h4>Relationship Lending</h4>
          <p>Build relationships directly with decision makers in businesses.</p>
        </div>
      </div>
    </div> <!-- /container -->
