<h1 class='text-center'>
  Advertising on Bankmybiz.com
</h1>
<div class="row">
  <div class="col-sm-8">
    <section class="well">
      <h2 class='muted'>Benefits</h2>

      <h3><i class="icon ion-android-locate"></i> Targeting</h3>
      <p>
        Bankmybiz.com is a niche social network meaning we can help your company effectively target Business Owners, Small Business Advocacy Groups, Lending Professionals and Professional Networks.
      </p>
      <h3><i class="icon ion-ios7-cart"></i> Competitive Market</h3>
      <p>
        You know that Business Lending and Business Services are competitive markets. Bankmybiz.com is the premier network to find and connect with growing local businesses.
      </p>
      <h3><i class="icon ion-earth"></i> Internet Edge</h3>
      <p>
        The internet is changing how businesses and lenders work. Bankmybiz.com can play a critical role in any local lender or business service provider's internet strategy.
      </p>
    </section>
    <section class="well">
      <h3>Options & Rates</h3>
      <p>Contact us to learn more about advertising on Bankmybiz.com</p>
      <p>Discounts on ads are given to our certified lenders and enterprise lending institutions</p>
<!--       <table width="100%">
        <tr>
          <td><h3>Home Page</h3><p class='muted'>Bottom of Right Sidebar</p></td>
          <td colspan="2"><h3>Funding Pages</h3><p class='muted'>Bottom of Left Sidebar</p></td>
        </tr>
        <tr>
          <td>$500/Month</td>
          <td><h4>Tier 1</h4></td>
          <td>$250/Month</td>
        </tr>
        <tr>
          <td></td>
          <td><h4>Tier 2</h4></td>
          <td>$150/Month</td>
        </tr>
        <tr>
          <td></td>
          <td><h4>Tier 3</h4></td>
          <td>$80/Month</td>
        </tr>
      </table> -->
      <section class='text-right'>
        <a href="mailto:team@bankmybiz.com?Subject=Advertising%20on%20Bankmybiz" class="btn btn-lg btn-success" target="_top">Contact a Rep</a>
      </section>
    </section>
  </div>
  <div class="col-sm-4">
    <h3 class='text-center'>Testimonials</h3>
    <div class="well">
      <section>
        <i>"I sent messages to my Bankmybiz lender matches and within 2 mintues was contacted by a lender from California who understood and was passionate about my business. Thanks Bankmybiz!"</i>
        <p class='text-right'><strong>Alisa T.</strong> Artist/Manufacturer</p>
      </section>
      <section>
        <i>"Wow, Bankmybiz.com is extraordinary. Easy to navigate, engaging interactions and spot-on connections. <strong>This will change everything</strong>."</i>
        <p class='text-right'><strong>James C.</strong> SVP Business Banker</p>
      </section>
      <section>
        <i>"I started conversations by posting some questions to Bankmybiz.com. I connected with a few helpful lenders and, <strong>EUREKA</strong>, I found a great lender who specialized in my industry. Thank You Bankmybiz.com! I will be singing your praises to every business owner I know."</i>
        <p class='text-right'><strong>Heather P.</strong> Healthcare</p>
      </section>
    </div>
  </div>
</div>