<div class="row-fluid pricing-table pricing-three-column">
  <div class="span3 plan">
    <div>
      <h4>Starter</h4>
    </div>
    <ul>
      <li class="plan-feature">1 Match per Day</li>
      <li class="plan-feature">1 Message per Day</li>
      <li class="plan-feature">Store 10 Messages</li>
      <li class="plan-feature">
        <h4>Free!</h4>
        <a href="#" class="btn btn-primary btn-plan-select"><i class="icon-white icon-ok"></i> Selected!</a></li>
    </ul>
  </div>
  <div class="span3 plan">
    <div>
      <h4>Super User</h4>
    </div>
    <ul>
      <li class="plan-feature">3 Matches per Day</li>
      <li class="plan-feature">10 Messages per Day</li>
      <li class="plan-feature">See...
        <ul>
          <li>Your Followers</li>
        </ul>
      </li>
      <li class="plan-feature">Store 50 Messages</li>
      <li class="plan-feature">
        <h4>$29.99 / Month</h4>
        <%= link_to new_subscription_path(plan_id: 1), class:"btn btn-success btn-plan-select" do %>
          Subscribe <i class="icon-white"></i>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="span3 plan">
    <div>
      <h4>Power User</h4>
    </div>
    <ul>
      <li class="plan-feature">3 Matches per Day</li>
      <li class="plan-feature">10 Message per Day</li>
      <li class="plan-feature">See...
        <ul>
          <li>Your Followers</li>
          <li>Who Gives You Bucks</li>
        </ul>
      </li>
      <li class="plan-feature">Message Read Receipts</li>
      <li class="plan-feature">Store 300 Messages</li>
      <li class="plan-feature">
        <h4>$64.99 / Month</h4>
        <%= link_to new_subscription_path(plan_id: 2), class:"btn btn-success btn-plan-select" do %>
          Subscribe <i class="icon-white"></i>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="span3 plan">
    <div>
      <h4>Professional</h4>
    </div>
    <ul>
      <li class="plan-feature">5 Matches per Day</li>
      <li class="plan-feature">25 Message per Day</li>
      <li class="plan-feature">See...
        <ul>
          <li>Your Followers</li>
          <li>Who Gives You Bucks</li>
          <li>Who's Viewed You</li>
        </ul>
      </li>
      <li class="plan-feature">Message Read Receipts</li>
      <li class="plan-feature">4 Promoted Posts per Month</li>
      <li class="plan-feature">Store 1000 Messages</li>
      <li class="plan-feature">
        <h4>$119.99 / Month</h4>
        <%= link_to new_subscription_path(plan_id: 3), class:"btn btn-success btn-plan-select" do %>
          Subscribe <i class="icon-white"></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<hr>
<div class="well text-center">
  <p>Interested in an Enterprise License?</p>
  <p>
    <%= link_to "Contact Us", "mailto:team@bankmybiz.com?Subject=Enterprise License", class:"btn btn-success" %>
  </p>
</div>
