<div class="row">
  <div class="col-sm-6">
    <h3>When Bankmybiz works</h3>
    <h1>We Want to Know!</h1>
    <section class="muted">
      Since our network has been live we have been helping our customers make valuable connections and close deals. If you've made a valuable connection or contact, or closed a financial deal through the <strong>Bankmybiz Network</strong>, let us know by sending an email to team@bankmybiz.com.
    </section>
    <section class="muted">
        
    </section>
  </div>
  <div class="col-sm-6">
    <div class="quote">
      "Wow, Bankmybiz.com is extraordinary. Easy to navigate, engaging interactions and spot-on connections. <strong>This will change everything</strong>."
      <div class="muted text-right">James C. - SVP Business Banker</div>
    </div>
    <div class="quote">
      "I own a healthcare business and my state contracts are growing everyday. I joined Bankmybiz.com, started some conversations on the news feed, and could immediately tell which lenders actually understood my business model by their comments.  I met with a few and, <strong>EUREKA</strong>, I found the right lender for my business.  We got the funding we were looking for and some additional tools. Thank You Bankmybiz.com! I will be singing your praises to every business owner I know."
      <div class="muted text-right">Heather P. - Small Business Owner</div>
    </div>
  </div>
</div>