<div class="row">
  <div class="span6">
  <div class="quote">
    "Wow, BankmyBiz.com is extraordinary. Easy to navigate, engaging interactions and spot-on connections. This will change everything."
    <div class="muted text-right">James C. - SVP Business Banker</div>
  </div>
</div>
</div>
<div class="row">
  <div class="span6 offset6">
  <div class="quote">
    "I own a healthcare business and my state contracts are growing everyday. I joined BankmyBiz.com, started some conversations on the news feed, and could immediately tell which lenders actually understood my business model by their comments.  I met with a few and, EUREKA, I found the right lender for my business.  We got the funding we were looking for and some additional tools. Thank You BankmyBiz.com! I will be singing your praises to every business owner I know."
    <div class="muted text-right">Anonymous</div>
  </div>
</div>
</div>