<section>
  <%= form_for [post, post.answers.new] do |f| %>
    <div class="col-xs-12">
      <%= f.text_area :body, class:'form-control', id:"appendedInputButton", placeholder:"Post your Advice" %>
      <section>
        <button name="commit" type="submit" value="Create Comment" class="btn btn-success pull-right" rel="tooltip" title="+10 Credit">
          <i class="icon ion-chatbox"></i> Give Advice
        </button>
      </section>
    </div><!-- /input-group -->
  <% end %>
</section>
<br>