<% content_for :title, "Matches" %>

<div class="col-sm-8 clearfix">
  <div class="col-sm-12 clearfix">
    <h3>Funder Matches <span class="text-muted smallest">Find Funders that Match your Business.</span></h3>
  </div>
  <% if !current_user.finished_profile? %>
    <div class="buy-matches gray-border-left well">
      <div class="clearfix">
        <h4><%= link_to "Complete your Profile", edit_profile_path(current_user) %> to Start Receiving Matches</h4>
      </div>
    </div>
  <% end %>
    <%= render partial: 'match', collection: @matches, as: 'match' %>
</div>

<%= render 'shared/right_sidebar' %>