<tr>
  <td width='20%'><%= link_to "#{post.user.name}", user_path(post.user) %></td>
  <td class="muted" width="45%"><%= post.content %></td>
  <td width="20%"><%= render partial: "shared/tags", locals: { tags: post.tags }  %></td>
</tr>