<% content_for :title, "News Feed" %>

<div class="col-sm-8">
  <div class="col-sm-12 clearfix">
    <h3>News Feed <span class="text-muted smallest">Business Financing News, Questions, Links, and Updates.</span></h3>
    <%= render 'shared/search_form' %>
  </div>
  <%= render partial: "posts/post", collection: @posts, as: :post %>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<%= render 'shared/right_sidebar' %>
