<div class="container">

<div class="row">
  <div>
    <%= render partial: "posts/post", collection: @posts, as: :post %>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div><!-- /row -->

  <div class="span4">
    <div class="well dark">
      <p class="muted">Trending Tags</p>
      <%= render partial: "shared/tags", locals: { tags: @trending_tags }  %>
    </div>
      <div class="well dark">
        <p class="muted">Trending Projects</p>
        <ul>
          <% @trending_mocs.each do |tm| %>
            <%= render partial: "shared/mini_moc", locals: { m: tm }  %>
          <% end %>
        </ul>
      </div>
  </div>
</div>