<% content_for :title, "Business Lending - Business Banking - Loans | Bankmybiz" %>
<%= render 'shared/left_sidebar' %>

<div class="col-sm-6">
  <%= link_to "Back", :back %>
  <%= render partial: 'posts/post', locals: { post: @post } %>
</div>

<%= render 'shared/right_sidebar' %>

