
.ui-widget-content {
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

ul.tagit input[type="text"] {
    border: none;
    outline: 0;
}

ul.tagit {
    padding: 5px 5px 5px 10px;
    background: inherit;
}

ul.tagit li.tagit-choice {
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid rgb(10, 189, 10);
    float:left;
    padding:1px 4px 1px 4px;
    margin:0 4px 0 0px;
    background: none;
    background-color: rgb(0, 160, 0);
    color:white;
    font-weight: normal;
}

ul.tagit li.tagit-choice .tagit-label:not(a) {
    color: rgb(247, 247, 247);
}

.tagit-label {
    margin-right:2px;
}
ul.tagit li.tagit-choice a.tagit-close {
    text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
    right: .4em;
}
ul.tagit li.tagit-choice .ui-icon {
    display: none;
}
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: inline;
    /*font-family: arial, sans-serif;*/
    color: white;
}
ul.tagit li.tagit-choice a.tagLabel:hover,
ul.tagit li.tagit-choice a.tagit-close .text-icon:hover {
    color: #222;
    cursor: pointer;
    text-decoration: underline;
}
/*ul.tagit input[type="text"] {
    color: #333333;
    background: none;
}*/
.ui-widget {

}


.tagit-autocomplete.ui-autocomplete { position: absolute; cursor: default; }
* html .tagit-autocomplete.ui-autocomplete { width:1px; } 


.tagit-autocomplete.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
}
.tagit-autocomplete.ui-menu .ui-menu {
    margin-top: -3px;
}
.tagit-autocomplete.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}
.tagit-autocomplete.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}

.tagit-autocomplete .ui-menu .ui-menu-item a.ui-state-hover,
.tagit-autocomplete .ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}
/*.tagit-autocomplete.ui-widget-content { border: 1px solid #cccccc; background: #ffffff 50% 50% repeat-x; color: #222222; }*/
.tagit-autocomplete.ui-corner-all, .tagit-autocomplete .ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; }
/*.tagit-autocomplete .ui-state-active  { border: 1px solid #cccccc; }*/

/*.tagit-autocomplete .ui-widget-content { border: 1px solid #cccccc; }*/
.tagit .ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px,1px,1px,1px); }
