<div class="row">
  <h4 class='text-center'><%= @product.name %> Lenders on Bankmybiz</h4>
  <%= render partial: 'matches/match', collection: @product.users.where(bank: true).joins(:subscriptions).where("subscriptions.expires_on > ?", Date.today).order("RANDOM()").first(4), as: 'match' %>
</div>

