<div class="row">
  <h4 class='text-center'><%= params[:action].underscore.titlecase %> Funders on Bankmybiz</h4>
  <% Product.find(1).users.limit(4).order("RANDOM()").each do |u| %>
    <div class="col-sm-3">
      <%= u.name %>
    </div>    
  <% end %>
</div>