<% 
  content_for :title, "SBA | Small Business | Government Loan - Bankmybiz" 
  content_for :description, "The Small Business Administration (SBA) is part of the government that provides local small business loans, funding, financing, and assistance." 
  content_for :keywords, "SBA, Small Business, Government Loan | Bankmybiz"
%>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1 class='text-center'><%= params[:action].underscore.titlecase %></h1>
    <hr>
    <div class="col-sm-8">
      <%= render partial: 'funders' %>
      <h3>Intro</h3>
      <p>
        An asset based loan is when a business puts up something valuable as security on a loan.  If a business can't pay back the loan, the bank takes the asset instead. A business puts up stuff it owns like its inventory, equipment, debts or machinery. Business banks, and other certified lenders, prefer assets which, in the event of a delinquent loan, that they can easily sell to recover the unpaid debt.  Asset based loans are good for businesses that have a business growth strategy of owning hard assets like construction, retail, and manufacturing. 
      </p>
      <blockquote>
        <p>The SBA offers aid, advice, assistance and protects the interests of small businesses.</p>
      </blockquote>
      
      <h3>Micro Loans</h3>
      <p>
        A business supplies propane to customers throughout a state and owns a fleet of trucks.  The business contacts a banker and arranges a new business bank loan. In order to get a better rate on their business bank loan, they choose a asset based loan and put up the fleet of trucks as collateral for a new shipment of propane at an interest rate of 5.75% Annual Percentage Rate (APR) until the loan is paid off.  If the business is unable to pay the loan off, the bank gets the fleet of trucks.
      </p>

      <h3>Loan Guarantees</h3>
      <p>
        Another program is the <b>7(a) Loan Guarantee Program</b>. It is designed to assist entrepreneurs start or expand their businesses. As of 2010, the program makes up to $5 million available to small businesses through bank and non-bank institutions in the lending business. The <b>Small Business Jobs Act of 2010</b> permanently increased the maximum size of these loans from $2 million to $5 million.
      </p>

      <h3>Resource Centers Near You</h3>
      <p>
        As mentioned above, the lending business is not the only one that the SBA engages in.  There are many resource centers including: <b>900 Small Business Development Centers</b>, <b>110 Women's Business Centers</b>, and <b>350 chapters of volunteers</b> who provide free mentoring under the Service Corps of Retired Executives (SCORE) program.  The SBA has many other niche programs, particularly for women and minority businesses. 
      </p>

      <%= render partial: 'funders' %>
    </div>

    <div class="col-sm-4">
      Grade 1
      <hr>
      Grade 2
    </div>
  </div>
</div>