<% 
  content_for :title, "Cash Advance - Payday Loan - Individual Loan | Bankmybiz" 
  content_for :description, "A Cash Advance loan is a type of loan made to an individual. In a very rare circumstance a business owner may use this type of loan if they are desperate for cash.  If you have the choice, it’s not recommended you try to fund a business this way. "
  content_for :keywords, "Cash Advance, Payday Loan, Individual Loan | Bankmybiz"
%>

<div class="row">
  <%= render partial: 'options_nav' %>
  <div class="col-sm-9">
    <h1 class='text-center'><%= params[:action].underscore.titlecase.upcase %></h1>
    <hr>
    <div class="row">
      <div class="col-sm-7">
        <h3>What is a Cash Advance?</h3>
        <p>
          A cash advance is a short-term loan where an individual borrows a small amount of money at a <strong>very high rate of interest</strong>. The individual borrower typically writes a post-dated personal check in the amount they wish to borrow plus a fee in exchange for cash. The lender holds onto the check and cashes it on the agreed upon date, usually the borrower's next payday. These loans are also called cash advance loans or check advance loans.
        </p>

        <h3>Last Resort</h3>
        <p>
          If you have any business or personal credit avoid this form of funding! Even a credit card is better than a payday loan. For example, $17.50 per $100 for a seven day loan, although it sounds OK, that translates into a rate of more than 900% a year. Most loans are for 30 days or less and can be rolled over for additional finance charges. Loan amounts are usually from $100 to $1,500. Note that this is a personal loan not a business loan (such as Factoring or Term Loans). Be very cautious about funding a business through this type of loan.
        </p>

        <blockquote>
          <p>If you have any business or personal credit avoid this form of funding!</p>
        </blockquote>

        <h3>Borrower Beware!</h3>
        <p>
          Cash Advance and Payday Loan funders have gotten a bad reputation for their predatory lending practices. The federal Truth in Lending Act has come down hard on payday lenders to disclose their charges. Again: if you have any credit at all avoid this form of 
        </p>
      </div>

      <div class="col-sm-5 grades">
        <h3 class='text-center'><span class='text-muted'>Grade</span> <%= params[:action].underscore.titlecase %></h3>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Approval</h3>
            <p class='text-muted'>Does not require good credit.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge text-center">A</h1>
            <h3 class='text-center'>Funding Speed</h3>
            <p class='text-muted'>Instantaneous.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">B</h1>
            <h3 class='text-center'>Terms</h3>
            <p class='text-muted'>No equity or complex terms, just a high fee</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">C</h1>
            <h3 class='text-center'>Exit Ease</h3>
            <p class='text-muted'>There is no exit until the due date.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">D</h1>
            <h3 class='text-center'>Amount</h3>
            <p class='text-muted'>A very small amount.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">F</h1>
            <h3 class='text-center'>Cost</h3>
            <p class='text-muted'>Incredibly expensive, even funding your business on credit cards are better.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <%= render partial: 'funders' %>
  </div>
</div>