<% 
  content_for :title, "Credit Cards - Working Capital - Credit Score | Bankmybiz" 
  content_for :description, "For small and low risk investments Credit Cards can be an effective funding tool for some small businesses." 
  content_for :keywords, "Credit Cards, Working Capital, Credit Score | Bankmybiz"
%>

<div class="row">
  <%= render partial: 'options_nav' %>
  <div class="col-sm-9">
    <h1 class='text-center'><%= params[:action].underscore.titlecase.upcase %></h1>
    <hr>
    <div class="row">
      <div class="col-sm-7">
        <h3>Credit Cards</h3>
        <p>
          Credit cards are financial loans similar to a Line of Credit based on a business owner’s personal credit score and income, or a business’s credit score and income.  The business owner will receive a plastic card with a credit card number which will allow them to make purchases for their business.  At the end of the month, or whenever the end of their billing period is, the business owner will need to make a payment for part, or all, of the balance on their credit card.  Credit cards are much easier to get than a Line of Credit, and are similar in that you have a certain amount available to you (the credit limit) which is the maximum amount you can use. 
        </p>
        <blockquote>
          <p>Treat Credit Cards as a Last Resort for Funding.</p>
        </blockquote>
        
        <h3>Expensive Money</h3>
        <p>
          However, unlike a Line of Credit or other small business loans, credit cards have a couple features which are more problematic. One feature is that is the interest rate is often two to three times higher than a Line of Credit.  This makes credit cards one of the most expensive methods of finance for a business owner, which is the flip side to being one of the easier methods to obtain small business financing.  Another problematic feature is that the maximum loan amount available is relatively low, which means that business owners must often have more than one credit card to service the amount of debt they need to finance their small business.  This adds more complexity for the small business owner, as different cards will often have different interest rates, different payment dates, and different loan terms.  
        </p>

        <h3>Small and Short-Term Funds</h3>
        <p>
          For a savvy small business owner, credit cards can provide great short-term flexibility for cash flow--in that you can pay one off before the due date to avoid interest, while putting expenditures on another card with a different payment date, and then pay that second card off while putting expenditures on the first card.  However, this debt-shifting can quickly become unmanageable and expensive if your expenses increase faster than revenue even for only a short time.  It is also quite a bit of work to make this risky debt-shifting scheme work. It is not recommended to attempt this approach.
        </p>

        <h3>Last Resort</h3>
        <p>
          Ultimately credit cards should be seen as a last resort for most small business owners as they are not only expensive but can negatively impact your personal ability to get loans in the future.  If used poorly, credit cards will prevent a business owner from getting a good mortgage rate, or a mortgage at all.  
        </p>
      </div>

      <div class="col-sm-5 grades">
        <h3 class='text-center'><span class='text-muted'>Grade</span> <%= params[:action].underscore.titlecase %></h3>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge text-center">A+</h1>
            <h3 class='text-center'>Funding Speed</h3>
            <p class='text-muted'>You probably already have a credit card in your wallet!</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Approval</h3>
            <p class='text-muted'>Based on personal credit</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">A-</h1>
            <h3 class='text-center'>Exit Ease</h3>
            <p class='text-muted'>Repay whenever you like</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">B</h1>
            <h3 class='text-center'>Terms</h3>
            <p class='text-muted'>Rates are high, and personal bankruptcy is the worst possible outcome</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">C-</h1>
            <h3 class='text-center'>Amount</h3>
            <p class='text-muted'>Credit cards limits are often low</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">D-</h1>
            <h3 class='text-center'>Cost</h3>
            <p class='text-muted'>Credit cards have very high interest rates</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <%= render partial: 'funders' %>
  </div>
</div>