<% 
  content_for :title, "Deposits - Savings - Sustainable Business | Bankmybiz" 
  content_for :description, "Deposits and savings can be a safe and steady way to build and grow your small business." 
  content_for :keywords, "Deposits, Savings, Sustainable Business | Bankmybiz"
%>

<div class="row">
  <%= render partial: 'options_nav' %>
  <div class="col-sm-9">
    <h1 class='text-center'><%= params[:action].underscore.titlecase.upcase %></h1>
    <hr>
    <div class="row">
      <div class="col-sm-7">
        <h3>Equipment Loan</h3>
        <p>
          Grants represent "free money" for funding businesses and non-profits that run by minorities or women, improve the social good, or are engaged in commercializing new technology. Grants represent funds that do not need to be repaid in either cash or equity. The amounts of grants vary between $5,000 and hundreds of thousands of dollars. While no debt is issued from a business bank loan, or equity sold, the organization you receive the grant money from will will likely want to see results from the funding. 
        </p>
        <blockquote>
          <p>Grants represent "free money" for funding businesses and non-profits that improve the social good or are commercializing new technology</p>
        </blockquote>
        
        <h3>Grant Types and Facts</h3>
        <p>
          Most Grants are given out by the government and nongovernmental organizations to nonprofits and educational institutions whose focus is medicine, education, scientific research or technology development. Only few certified lenders and business bankers give grants, they are often are interested in giving money to specific groups and types of organizations, such as educational institutions. In most cases, your business must be devoted to new technology research or be a nonprofit in order to apply for most grants. 
        </p>

        <h3>Minority and Women Owned Grants</h3>
        <p>
          There are many nongovernment grants issued to small business owners based on ethnic minorities, women, and other underrepresented people in business. Business owners must meet the specifications of the grant, and the business or nonprofit organization should meet whatever criteria the organization may have.  For instance, if you apply for a nongovernmental grant that provides grants to women-owned businesses, at least one woman must own the business.
        </p>

        <h3>Small Business Innovation Research Program (SBIR)</h3>
        <p>
          One great resource for grants is the Small Business Innovation Research Program (SBIR). SBIR is a competitive program that encourages small business owners to explore technological potential and provides the incentive to profit from commercialization. This program is intended to help small business owners contribute to the R&D development within the United States and has been the seed funding for many, now large corporations.

          <h3>SBIR Qualifications:</h3>
          <ul>
            <li>American-owned and independently operated</li>
            <li>For-profit small business</li>
            <li>Principal researcher employed by business</li>
            <li>Fewer than 500 employees</li>
          </ul>
        </p>
      </div>

      <div class="col-sm-5 grades">
        <h3 class='text-center'><span class='text-muted'>Grade</span> <%= params[:action].underscore.titlecase %></h3>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">A+</h1>
            <h3 class='text-center'>Cost</h3>
            <p class='text-muted'>Grants are basically "free money"</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">A+</h1>
            <h3 class='text-center'>Terms</h3>
            <p class='text-muted'>Grant funders are usually only interested in seeing the impact the money creates.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Exit Ease</h3>
            <p class='text-muted'></p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">C</h1>
            <h3 class='text-center'>Amount</h3>
            <p class='text-muted'>Grants are generally small amounts of money.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge text-center">D</h1>
            <h3 class='text-center'>Funding Speed</h3>
            <p class='text-muted'>Grant cycles can be over months and years.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">D</h1>
            <h3 class='text-center'>Approval</h3>
            <p class='text-muted'>You must match the qualifications of the grant, and submit an in depth proposal of how you will use the funds.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <%= render partial: 'funders' %>
  </div>
</div>