<% 
  content_for :title, "Private Equity - Equity Capital - Equity Financing | Bankmybiz" 
  content_for :description, "Private Equity capital consists of investors and funds that make investments directly into private companies."
  content_for :keywords, "Private Equity, Equity Capital, Equity Financing | Bankmybiz"
%>

<div class="row">
  <%= render partial: 'options_nav' %>
  <div class="col-sm-9">
    <h1 class='text-center'><%= params[:action].underscore.titlecase.upcase %></h1>
    <hr>
    <div class="row">
      <div class="col-sm-7">
        <h3>Equity Banking</h3>
        <p>
          Private Equity capital consists of investors and funds that make investments directly into private companies or conduct buyouts of public companies that result in a delisting of public equity. Although primarily interested in equity, private equity deals can include a variety of types of business loans. Capital for private equity is raised from retail and institutional investors, and can be used to fund the business growth of new technologies, expand working capital within an owned company, make acquisitions, or to strengthen a balance sheet.
        </p>
        <blockquote>
          <p>Capital for private equity is raised from retail and institutional investors, and can be used to fund the business growth of new technologies, expand working capital within an owned company, make acquisitions, or to strengthen a balance sheet.</p>
        </blockquote>
        <h3>Their Incentives</h3>
        <p>
          The size of the private equity market has grown steadily since the 1970s. Private equity firms will sometimes pool funds together to take very large public companies private. Many private equity firms conduct what are known as leveraged buyouts (LBOs), where large amounts of debt are issued to fund a large purchase. Private equity firms will then try to improve the financial results and prospects of the company in the hope of reselling the company to another firm or cashing out via an IPO.
        </p>
      </div>

      <div class="col-sm-5 grades">
        <h3 class='text-center'><span class='text-muted'>Grade</span> <%= params[:action].underscore.titlecase %></h3>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Amount</h3>
            <p class='text-muted'>Once a private equity firm believes in your product or service, they want to see you succeed.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">B</h1>
            <h3 class='text-center'>Cost</h3>
            <p class='text-muted'>Often a higher percentage rate, but few to no fees.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">B</h1>
            <h3 class='text-center'>Exit Ease</h3>
            <p class='text-muted'>There is no "repayment" but reversing a factoring contract would be very difficult.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">C-</h1>
            <h3 class='text-center'>Approval</h3>
            <p class='text-muted'> Typically you already have to be operating at revenue positive in order to even begin discussions.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">D</h1>
            <h3 class='text-center'>Terms</h3>
            <p class='text-muted'>Terms vary depending on industry and debt-to-asset ratio.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge text-center">D</h1>
            <h3 class='text-center'>Timeline</h3>
            <p class='text-muted'>May take awhile, often years, to build a relationship with private equity groups. </p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <%= render partial: 'funders' %>
  </div>
</div>