<% 
  content_for :title, "Venture Capital - Startup investments - New Business investments | Bankmybiz" 
  content_for :description, "A Venture Capital investment is a business investment typically made by a group that want’s to invest in a startup."
  content_for :keywords, "Venture Capital, Startup investments, New Business investments | Bankmybiz"
%>

<div class="row">
  <%= render partial: 'options_nav' %>
  <div class="col-sm-9">
    <h1 class='text-center'><%= params[:action].underscore.titlecase.upcase %></h1>
    <hr>
    <div class="row">
      <div class="col-sm-7">
        <h3>The Big Cats</h3>
        <p>
          A Venture Capital investment typically works with businesses that have the potential to scale to revenue in the hundreds of millions of dollars a year. Venture Capital firms (VC’s) can be very specific in what they will or will not invest in.  For example some VC’s may only invest in Medical products and another will only invest in New Technology. Additionally some VC’s may only invest in the State that they are located while others will invest Nationwide.  It is up to you to find the right VC firms to approach. 
        </p>
        <blockquote>
          <p>A Venture Capital investment typically works with businesses that have the potential to scale to revenue in the hundreds of millions of dollars a year.</p>
        </blockquote>

        <h3>Prime Rate</h3>
        <p>
          A business loan made by a Venture Capital group is when professional investors provide money to startup firms and small businesses with perceived long-term business growth potential. While Venture Capitalists are primarily concerned with equity, they will also consider making a variety of business loans to the startup firm or small business.  This is a very important source of funding for startups that do not have access to capital markets. Building relationships with venture capital firms can often be difficult and take a long time as most VC’s are inundated with a large amount of small business and startup loan applications.  It typically entails high risk for the investor, but it has the potential for above-average returns.
        </p>

        <h3>For Example ... </h3>
        <p>
          Venture Capitalist usually want to be 'smart capital' and provide help and expertise in managing and building your business. Most venture capital comes from groups of wealthy investors, investment banks and other financial institutions. This form of raising capital is popular among new companies or ventures with limited operating history, which cannot raise funds by issuing debt. The downside for entrepreneurs is that venture capitalists usually get a say in company decisions, in addition to a portion of the equity.  However, typically these investors have experience and expertise in aiding business growth.
        </p>
      </div>

      <div class="col-sm-5 grades">
        <h3 class='text-center'><span class='text-muted'>Grade</span> <%= params[:action].underscore.titlecase %></h3>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">A+</h1>
            <h3 class='text-center'>Amount</h3>
            <p class='text-muted'>Once a venture capital firm believes in your product or service, they want to see you succeed.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Cost</h3>
            <p class='text-muted'>Besides giving up equity, there is no repayment. </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">B</h1>
            <h3 class='text-center'>Terms</h3>
            <p class='text-muted'>They will take a percent of your company, however they are invested in your success. If you are to fail, you do not owe them anything.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">B-</h1>
            <h3 class='text-center'>Approval</h3>
            <p class='text-muted'>Will invest in early stage companies, some without even consistent revenue, that excite them.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge text-center">D</h1>
            <h3 class='text-center'>Funding Speed</h3>
            <p class='text-muted'>Slow to establish relationships with VCs and to convince them to invest.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">D</h1>
            <h3 class='text-center'>Exit Ease</h3>
            <p class='text-muted'>Usually venture capital firms are in it for the long haul. If your business starts to falter, they may take it over.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <%= render partial: 'funders' %>
  </div>
</div>